.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    max-width: 200px;
    /* transition: 0.3s; */
    margin-top: 50px;
    border-radius: 5px;
}

.profile-img{
max-width: 200px;
}

/* .card:hover {
    box-shadow: 0 8px 16px 0 rgba(232, 19, 19, 0.733);
  } */