.hero2-p{
    color:white;
    font-family: 'Montserrat 900';
    font-size: 16px;
}
.hero2img{
    width: 80%;
    height: 50%;
    margin: auto;
}

.thanks{
    color:rgb(249, 242, 242);
    font-family: 'Montserrat 900';
    font-size: 30px;
}

/* .mask{
    width: 100%;
    height: 100vh;
    position: relative;
}
.title-container{
padding-top: 90px;
}
.hero2img{
    width: 100%;
    height:100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.mask::after{
    content:"";
    width:100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(131, 126, 126);
    opacity: 0.6;
}

.hero{
    height:100%;
    width:100%;
}

.hero .content{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-align : center;
}


.hero .content p{
    font-size: 1rem;
    font-weight: 50;
    color:rgb(9, 9, 9);
    font-family: 'Montserrat 900';
}




.about-img{
    max-width: 80%;
    max-height: 80%;
    border-radius:20%
}
.content .btn {
    margin: 1rem 0.2rem;
    
}
.hero-btn-container{
margin-top: 30px;

}
.donor-btn-container{
margin-top: 50px;
}
.donor-btn {
    
  padding: 12px 32px;

  font-size: 1rem;
  text-transform: uppercase;
  background: rgb(255, 42, 0);
  color: #222;
  border: 1px solid #fff;
  font-weight: 600;
  cursor: pointer;
  margin-left: 3px;
}

.donor-btn:hover {
    background: grey;
    color: #fff;
    transition: 0.3s;
  } */

@media screen and (max-width: 640px){
    .hero .content h1{
        font-size: 3rem;
    }
    
    .hero .content p{
        font-size: 1.4rem;
    }
    btn btn-light{
        font-size: .5rem;
    }
}